.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


:root {
    --very-dark-blue: hsl(233, 47%, 7%); /* main background */
    --dark-desaturated-blue:hsl(244, 38%, 16%); /* card background */
    --soft-violet: hsl(277, 64%, 61%); /* accent */
    --white: hsl(0, 0%, 100%); /* main heading, stats */
    --slightly-transparent-white : hsla(0, 0%, 100%, 0.75); /* main paragraph */
    --more-slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /* stat headings */
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
}

body {
    font-size: 15px;
    background-color: var(--very-dark-blue);
  
}

.container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
   
}

.card {
    background-color: var(--dark-desaturated-blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 78%;
    max-width: 1140px;
    border-radius: 1.0rem 0 0 1.0rem;
    margin: 5%;
    
}

.card-text-part {
    height: auto;
    padding: 6%;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.card-text-part .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 80%;
}

h1 {
    font-family:'Inter', sans-serif;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 2.8rem;
    letter-spacing: 0.6px;
}

span {
    color: var(--soft-violet);
}

p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: var(--slightly-transparent-white);
    
    
}

.paragraph p {

    line-height: 1.8;
    letter-spacing: 0.5px;
    
}

.stats {
 
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-top: 4.0rem;
    
}

.stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

}

.stat-title {
    padding-top: 0.4rem;
}

h3 {
    font-family:'Inter', sans-serif;
    color: var(--white);
    font-weight: bold;
    
}

.stat-title p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--more-slightly-transparent-white);
    letter-spacing: 0.1rem;
    margin-bottom: 0.7rem;
}

.queries h3 {
    font-family:'Inter', sans-serif;
    color: var(--white);
    text-transform: uppercase;
}

.card-image {
    position: relative;
    background-color: #aa5cdb;
    border-radius: 0 1rem 1rem 0;
    width: 90%;
    
}

img {
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;

}

.pink {
    background-color: #aa5cdb;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    border-radius: 0 1rem 1rem 0;
}

.img-mobile {
   display: none;
}



@media screen and (max-width: 550px) {
    .container {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 80%;
      margin: 5rem 0.8rem 5rem 0.8rem;
    }
    .stats {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .stat {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 1.6rem;
    }
    .card-text-part {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding: 10%;
    }
    .card-text-part .block {
      width: 100%;
    }
    .card-text-part h1 {
      font-size: 1.6rem;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 1.2rem;
    }
    .card-text-part .paragraph {
      text-align: center;
      width: 100%;
    }
    .stats {
      margin-top: 0.8rem;
    }
    .stat-title {
      font-size: 1.2rem;
    }
    .card-image { 
        width: 100%;
    }
    
    img {
      border-radius: 1rem 1rem 0 0;
      mix-blend-mode: multiply;
    }
    .desktop-image {
      display: none;
    }
    .img-mobile {
     display: block;
     width: 100%;
     border-radius: 1rem 1rem 0 0;
     
    }
    .pink {
      border-radius: 1rem 1rem 0 0;
      width: 100%;
    }
  }